<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Angular Test</title>
  <base href="/"></base>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= timeago_tag Time.zone.now, :nojs => true, :limit => 10.days.ago %>
  <div ng-view>
    <%= yield %>
  </div>
  <a href="/api/logout">Logout</a>

</body>
</html>
